extends layout.pug 

include utils.pug 

block content 
  main
    .create-story-container
      .create-story
        .create-page-title Create Story
        .create-story-form
          form(action="/create-story", method="post")
            .create-title
              textarea(name="title" spellcheck="false" placeholder="Title" cols="75" rows="1")
            .create-text
              textarea(name="storyText" spellcheck="false" placeholder="Tell your story..." cols="75" rows="18")
            .create-submit 
              input(type="submit", value="Create Story")