main 
  each story in stories 
    article 
      .story-box 
        .story-author 
          p # author here!
        .story-title 
          h2 # story title here! 
        .story-text-sample 
          p # sample story text here!
        .story-box-bottom-bar 
          .left 
            .story-likes
              span # num likes here! 
          .right 
            .story-comments 
              span # num comments here! 
          
