extends layout.pug 

include utils.pug 

block content 
  main 
    .follows-container
      .following-container
        h2 Following
        .following-box-container
          each follow in following 
            .follow-box(id=`${follow.id}`) 
              .follow-username
                .username #{follow.username}
              .follow-select
                button.follow-button.following Unfollow
            
      .not-following-container
        h2 Not following
        .not-following-box-container
          each follow in notFollowing 
            .follow-box(id=`${follow.id}`) 
              .follow-username
                .username #{follow.username}  
              .follow-select
                button.follow-button.not-following Follow

  script(src="/follow.js")
