doctype doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css" href="/style.css")
    script(src="https://kit.fontawesome.com/db2c62dcbf.js" crossorigin="anonymous")
    title #{title}
  body 
    nav.navbar
      .nav-left 
        a(href="/") LoremIpsumMedium
        a(href="/me/stories") My Stories
        a(href="/me/follow") Follow
      .nav-right 
        if locals.authenticated 
          span Welcome #{locals.user.username}!
          form(class="form-inline" action="/logout" method="post")
            button(type="submit") Logout
        else 
          a(href="/login") Login 
          a(href="/register") Register

    block contentbloop