doctype doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css" href="/style.css")
    script(src="https://kit.fontawesome.com/db2c62dcbf.js" crossorigin="anonymous")
    title #{title}
  body 
    nav.navbar
      ul.menu
        li.logo
          a(href="/") LoremIpsumMedium
        li.toggle
          a(href="#")
            i.fas.fa-bars
        if locals.authenticated
          li.item
            a(href="/me/stories") My Stories
          li.item
            a(href="/me/follow") Follow
          //- li.welcome
          //-   span Welcome #{locals.user.username}!
          li.item
            form(action="/logout" method="post").form-inline
              button(type="submit").logout-btn Logout
        else 
          li.item
            a(href="/login") Login 
          li.item
            a(href="/register") Register

    script(src="/nav.js")
    

    block content