extends layout.pug

include utils.pug 

block content 
  main
    +validationErrorSummary(errors)
    .login-form-container
      .login-form
        form(action='/login', method='post')
          .login-form-inputs
            input(type='hidden', name='_csrf', value=csrfToken)
            +field('Email', 'email', email, null, 'Email')
            +field('Password', 'password', null, 'password', 'Password')
          .login-form-buttons
            a(href="/demo-login").demo-login Demo Login
            button(type='submit').login User Login
            a(href='/register').register Register