include utils.pug 

+validationErrorSummary(errors)
form(action='/register', method='post')
  input(type='hidden', name='_csrf', value=csrfToken)
  +field('Email address', 'email', user.email)
  +field('Username', 'username', user.username)
  +field('Password', 'password', user.password, 'password')
  +field('Confirm password', 'confirmPassword', '', 'password')
  div 
    button(type='submit') Register 
    a(href='/') Cancel