main {
  width: 750px;
  margin: auto;
}

.story-box-bottom-bar {
  display: flex;
  justify-content: space-between;
}

article {
  margin-bottom: 35px;
}

.comments {
  width: 80%;
  margin: auto;
}

textarea {
  resize: none;
}

button.like-button.liked {
  background-color: #008CBA;
}

.follows-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}